include README.md
include CHANGES
include LICENSE
include MANIFEST.in
include tox.ini
include Pipfile.lock
include Pipfile
include src

exclude .tox
exclude .jshintrc
exclude Makefile
exclude manage.py
exclude tests

prune .circleci
prune tests

recursive-include src/unicef_djangolib *.*
recursive-include src/requirements *.pip
recursive-exclude tests *
recursive-include docs *

exclude deploy
exclude hooks
recursive-exclude deploy *
recursive-exclude hooks *
