[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-fsm = "*"
djangorestframework = "*"
djangorestframework-csv = "*"
django-model-utils = "*"

[dev-packages]
factory-boy = "*"
"flake8" = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-echo = "*"
pytest-pythonpath = "*"
tablib = "*"
pdbpp = "*"

[requires]
python_version = "3.6"
