[run]
branch = true
source = unicef_djangolib

[report]
fail_under = 40
ignore_errors = True
exclude_lines =
   pragma: no cover

[html]
directory = build/coverage
title = UNICEF Djangolib Coverage report
